{
  "extends": [
    "eslint-config-google"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "require-jsdoc": 0,
    "object-curly-spacing": ["error", "always"],
    "max-len": ["error", { "code": 124 }],
    "semi": 0,
    "prefer-destructuring": ["error", {
      "object": true,
      "array": false
    }],
    "prefer-promise-reject-errors": 0
  }
}